body{
    background-image: url("../David's Images/u6nu4an7hbmrxn19supd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    box-sizing: border-box;
}

/*USED MARGIN AUTO TO CENTER ALIGN ITEMS INSTEAD OF DISPLAY PROPERTY*/
.login{
    backdrop-filter: blur(40px);
    opacity: 1;
    width: 30vw;
    height: 80vh;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}
[type=text]{
    display: block;
    position: relative;
    width: 25vw;
    height: 5vh;
    margin: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
[type=button]{
    width: 100px;
    height: 50px;
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}
[type=button]:hover{
    background-color: #4CAF50;
    opacity: 0.8;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    outline: white;
}
[type=text]:hover{
    outline: 2px solid white;

}