body{
    background-color: darkgray;
    margin: 0; /* removes all the margin in the body*/
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    text-decoration-line: underline;
    margin: 10px;
    /* text-decoration-color: rgb(179, 210, 236); */
}
h1{
    font-size: 30px;
    color: darkgoldenrod;
}
.column1{
    border: 1px solid rgb(233, 223, 223);
    width: 33%;
    border-radius: 20px;
    height: 500px;
    background-color: burlywood;
    padding: 20px;
}
.content{
    display: flex;
    justify-content: space-between;
}
a{
    color: rgb(55, 55, 197);
    font-size: 18px;
}
.footer{
    /* display: flex; */
    background-color: burlywood;
    /* margin: 20px; */
    /* width: 100%; */
}
.flex{
    display: flex;
    justify-content: space-between;
}
.test{
    border: 1px solid black;
    width: 25%;
    border-radius: 50px;
    height: 150px;
    padding: 20px; 
    margin: 20px;
}
li{
    border-bottom: 2px solid black;
    width: 100%;
}