body{
    background-image: url(wave-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.loginform{
    text-align: center;
    border: 1px solid rgb(207, 196, 196);
    border-radius: 1px;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    border-color: rgb(110, 106, 106)
}
.button{
    background-color: solid black;
}

