body{
    background-color: grey;
    width: 100%;
}
fieldset{
    border: 2px solid black;
    width: 50%;
    margin-left: 25%;
    height: 300px;
}
[type="text"]{
    color: black;
    background-color: whitesmoke;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

}
label{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
[type="button"]{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-weight: bold;
    /* margin: 10px; */
    /* margin-left: 20px; */
}
[name=txt1]{
    margin-left: 16px;
}
[type="button"]:hover{
    background-color: coral;
}
