@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
    outline: none;
    text-decoration: none;
    height: auto;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;/*to prevent horizontal scroll bar*/
    background-color: #1f242d;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    filter: drop-shadow(10px);
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    font-weight: 800;
    color: #b74b4b;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
    margin-left: 3rem;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
/* section{
    min-height: 100vh;
} */
.home{
    color: #1f242d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 60px 90px 30px 90px;
}
.home-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #b74b4b;
}
.typing-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: #b74b4b;
}
.home-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    border-radius: 50%;
    width: 30vw;
    margin-top: 20px;
    box-shadow: 0px 0px 10px  #b74b4b;
}
.typing-text span::before{
    content: "Software Developer";
    font-size: 3rem;
    font-weight: 500;
    color: #b74b4b;
    animation: read 10s ease infinite;
}
.typing-text span::after{
    content: "";
    font-size: 3rem;
    font-weight: 500;
    color: #b74b4b;
}
/* creating an animation to display all the relevent skills you have */
@keyframes read{
    0%{
        content: "Software Developer";
    }
    25%{
        content: "Web Developer";
    }
    50%{
        content: "UI/UX Designer";
    }
    75%{
        content: "Freelancer";
    }
    100%{
        content: "Content Creator";
    }
}
.social-icons a{
    width: 2.5rem;
    background-color: transparent;
    height: 2.5rem;
    color: #b74b4b;
    font-size: 2rem;
    border: 0.2rem solid #b74b4b;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1.5rem 0;/*top right bottom left*/
    transition: 0.3s ease;
}
.social-icons a:hover{
    transform: scale(1.3) translateY(-5px);
    color: black;
    box-shadow: 0px 0px 25px #b74b4b;
    background-color: #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 300;
    color: #b74b4b;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 1rem;
}
.btn:hover{
    transform: scale3d(1.03);
    color: black;
    background-color: #b74b4b;
    box-shadow: 0px 0px 25px #b74b4b;
}
/*create a linking on the same page in the document*/
.about{
    color: black;
    text-align: center;
    margin: 60px 90px 30px 90px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    height: 80vh;
}
.about h2{
    text-decoration-line: underline;
    text-decoration-color: #b74b4b;
    margin-bottom: 5rem;
    color: #b74b4b;
}

.services{
    height: 120vh;
    margin: 0;
}
.services h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #b74b4b;
    margin-bottom: 4rem;
    text-decoration: underline #b74b4b;
}
.serv{
    column-count: 3;
    column-gap: 15px; /*the gap is too big dont forget to change it */

    /* display: flex; - you can use the flex property or column property
    justify-content: space-between;
    align-items: center;*/
}
.service{
    border: 1px solid black;
    height: 55vh;
    width: 60vh;
    padding: 3rem;
    /* margin: 2rem;  it breaks the line of columns */
    margin: 0px 2rem; /* 0px top and bottom, 2rem right and left*/
    
}
.service p{
    word-wrap: break-word;

}
.service h2{
    text-decoration-line: solid #b74b4b;

}

[class*=fas]{ /*attribute selector with a specific word "fas"*/
    color: blue;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;

}

/*styling the contacts section*/
.contact{
    height: 80vh;

}
.name h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #b74b4b;
    text-decoration-line: underline;
    text-decoration-color: #b74b4b;
    margin-bottom: 3rem;

}
.cont{
    /* border: 1px solid black; */
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
[type=text]{
    width: 32vw;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    font-size: 1rem;
    font-weight: 200;

}
[type=text]:hover{
    border: 2px solid white;
}
textarea{
    width: 30vw;
    height: 15vh;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 200;
}
.btn2{
    display: inline-block;
    padding: 1rem;
    width: 10vw;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #b74b4b;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn2:hover{
    transform: scale3d(1.03);
    color: black;
    background-color: #b74b4b;
    box-shadow: 0px 0px 25px #b74b4b;
}