.header{
    background-color: cornflowerblue;
    text-align: center;
    margin: 0;
    padding: 5px;

}

ul{
    overflow: hidden;
    list-style-type: none;
    background-color: grey;
    padding: 0;
    margin: 0;
    
}
li{
    float: left;
    
}
li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
}
li a:hover{
    background-color: black;
    opacity: 0.5;
    color: red;
}
.image-container img{
    width: 100%;
    display: block;
    height: 700px;
}